# JDBC Properties
jdbc.url=
jdbc.username=
jdbc.password=

# Hibernate properties
hibernate.hbm2ddl.auto=

# GCP properties
gcp.baseUrl=
gcp.bucketName=
gcp.filePath=

# Account server properties
auth.baseUrl=
auth.appToken=
auth.appName=

# App properties
increff.orgId=